In [ ]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) float
#(iv) tuple
#(iii) list

In [1]:
a = "Harshit"

In [2]:
type(a)

str

In [3]:
b = 33.45

In [4]:
type(b)

float

In [5]:
t = (1,2,3,4,5)

In [6]:
type(t)

tuple

In [8]:
l = [1,2,3,"Jay",True]

In [9]:
type(l)

list

In [ ]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

In [11]:
var1 = ' '

In [12]:
type(var1)

str

In [13]:
var2 = '[ DS , ML , Python]'

In [15]:
type(var2)

str

In [ ]:
Var3 = List

In [16]:
Var4 = 1

In [17]:
type(Var4)

int

In [ ]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [ ]:
# / is a division operator

In [18]:
10/5

2.0

In [ ]:
# % is a modulus operator

In [19]:
10%5

0

In [ ]:
# // is floor division operator

In [20]:
10//5

2

In [ ]:
# ** is exponential operator

In [21]:
2**3

8

In [ ]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [22]:
l = [1,2,3,4,5,"harshit",44.5,True,8,9]
for i in l:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'str'>
harshit
<class 'float'>
44.5
<class 'bool'>
True
<class 'int'>
8
<class 'int'>
9

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#    times it can be divisible.

In [53]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))
count = 0
while A % B == 0:
    A = A / B
    count += 1 
if A == 0:
    print(f"{A} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the number A:  6
Enter the number B:  2

3.0 is not purely divisible by 2.

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [54]:
p = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in p:
    if i%3 == 0:
         print(f"{i} is divisible by 3")
    else:
            print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
Immutable data types are those whose values cannot be modified after they are created

In [55]:
x = 5
x += 1

In [56]:
x

6

In [ ]:
Mutable data types, on the other hand, are those whose values can be modified after creation

In [57]:
l = [1,2,3,4]

In [58]:
l(1) = 7

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (418373359.py, line 1)